<div class="contact-container">
    <div class="contact-info">
        <h3>Contact Information</h3>
        <p>Email: agency&#64;yahoo.com</p>
        <p>Phone: 0745 261 892</p>
        <p>Location: Cluj-Napoca, str. Observator, nr. 34</p>
    </div>


    <div class="contact">
        <div class="contact-form">
            <h2>Contact Us</h2>
            <form>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Your Message" rows="6"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary">Send</button>
            </form>
        </div>
    </div>
</div>