button {
    margin-top:15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 12px;
  }
.btn-add {

  color: rgb(6, 6, 6);
  }
  
  .btn-cancel {
  color: rgb(0, 0, 0);
  }