
.calendar {
    width: 600px;
    height: 600px; 
    font-size: 12px; 
    margin-left:27%;
    margin-top:3%;
  }

.chart{
    width: 600px;
    height: 600px; 
    font-size: 12px; 
    margin-left:27%;
    margin-right:30%;
    margin-top:5%;
}
  